/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 90%;
  max-width: 1380px;
  margin: 0 auto;
}

.logo img{
  width: 135px;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #ff6900;
  padding: 19px 0;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

header nav .container, footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul, footer ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  padding: 0 5px;
}

header nav ul li a, footer ul li a {
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
}

header nav ul.categories li a:hover {
  text-decoration: underline;
}

/* MAIN */
main .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 132px;
}

.card {
  width: 32%;
  min-width: 230px;
  margin-bottom: 60px;
}

.card:hover {
  cursor: pointer;
}

/* CARD IMAGE */
.card .image {
  position: relative;
  width: 100%;
}

.card .image img {
  max-width: 100%;
  object-fit: cover;
}

.card .image img:last-of-type {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.card:hover .image img:last-of-type {
  display: block;
}

.card .image .heart {
  position: absolute;
  top: 10px;
  right: 0;
  color: #1a1a1a;
  background-color: white;
  padding: 13px;
}

.card .image .heart:hover {
  color: #ff6900;
  cursor: pointer;
}

.card .image .tags {
  position: absolute;
  bottom: 30px;
  left: 0;
  color: white;
  font-size: 0.9em;
  font-weight: bold;
}

.card .image .tags .tag{
  padding: 5px 10px;
}

.card .image .tags .tag.tag-discount {
  background-color: #ff6900;
}

.card .image .tags .tag.tag-sustainability {
  background-color: rgb(56, 155, 56);
}


/* CARD DESCRIPTION */
.card .item-description .brand {
  font-size: 0.9em;
  text-transform: capitalize;
}

.card .item-description .item-name {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1em;
}

.card .item-description .price {
  font-size: 0.9em;
  font-weight: bold;
  color: rgb(231, 63, 63);
}

.card .item-description .price.original-price {
  text-decoration: line-through;
  color: black;
  font-weight: normal;
}

/* FOOTER */
footer {
  background-color: #1a1a1a;
  color: white;
  padding: 25px 0;
}

footer span {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
}

/* FOOTER LEFT */
footer .footer-left span {
  font-size: 1.1em;
}

footer .footer-left ul li {
  padding-right: 10px;
}

footer .footer-left ul li a {
  font-size: 0.9em;
  font-weight: normal;
}

footer .footer-left ul li a:hover {
  text-decoration: underline;
}

/* FOOTER RIGHT */
footer .footer-right span {
  font-size: 0.9em;
  padding-left: 14px;
}

footer .footer-right ul li {
  padding-left: 10px;
}

footer .footer-right ul li a {
  font-size: 1.3em;
}